<div class="leftmargin">
{{#each resultBlogpost}}
<h1 class="titel2">Ta bort inlägg</h1>
<p> Vill du verkligen ta bort inlägg <span class="bolditalic"> {{blogtitel}}</span> ?</p>
<form action="" method="POST">
	<button class="btn" type="submit" >Ja, ta bort!</button>
</form>
{{/each}}
</div>