<div class="leftmargin">
{{#each resultGästbok}}
<h1 class="titel2">Ta bort gästbokinlägget </h1>
<p> Vill du verkligen ta bort gästbokinlägget <span class="bolditalic"> {{text}}</span> ?</p>
<p>Inlägget skrevs  {{datum}} utav {{namn}} . </p>
<form action="" method="POST">
	<button class="btn" type="submit" >Ja, ta bort!</button>
</form>
{{/each}}
</div>