<div class="leftmargin">
{{#each resultBlogpost}}
<h1 class="titel2">Delete product</h1>
<p> Vill du verkligen ta bort inlägg <span class="bolditalic"> {{blogtitel}}</span> ?</p>
<form action="" method="POST">
	<input type="submit" value="Ja, ta bort!">
</form>
{{/each}}
</div>