<!DOCTYPE html>
<html>
<div class="inlogginput">
    <form id="InloggInput">
        <label for="användarnamn">Användarnamn:</label><br>
        <input type="text" id="Användarnamnsruta" name="Användarnamn"><br>
        <label for="Lösenord">Lösenord:</label><br>
        <input type="password" id="Lösenordsruta" name="Lösenord">
        <input type="submit" value="Logga in">
    </form>


    <p> (Enbart för admins)</p>
</div>

</html>