<!DOCTYPE html>
<html>
<div class="inlogginput">
    <form id="InloggInput" method="POST" action="/loggain.hbs">
        <label for="användarnamn">Användarnamn:</label><br>
        <input type="text" id="användarnamn" name="användarnamn"><br>
        <label for="Lösenord">Lösenord:</label><br>
        <input type="password" id="lösenord" name="lösenord">
        <input type="submit" value="Logga in">
    </form>


    <p> (Enbart för admins)</p>
</div>

</html>