<title>om mig </title>

<header class="titel2"> Om mig</header>

{{#if hasDatabaseError}}
<p>Kontakter hittades ej</p>

{{else }}

{{#each resultKontakt}}
<p class="Kontakt"> {{namn}}: {{arbetsroll}}: {{nummer}} </p>
{{/each}}
{{/if}}