<title>Om mig </title>

<header class="titel2"> Om mig</header>
<br>
<div class="leftmargininline">
<input type="image" src="/images/Liverpool_FC.svg.png" alt="liverpool logga" width="200" height="250" id="liverpool">
<p>Jag är ett stort Liverpool fc fan</p>
</div> <div class="leftmargininline">
<input type="image" src="/images/verstappen.jpg" alt="Verstappen" width="400" height="250" id="verstappen">
<p>Jag är ett verstappen &amp;&amp; redbull fan</p>
</div>
</div> <div class="leftmargininline">
<input type="image" src="/images/motorcykel1.jpg" alt="MC" width="250" height="250" id="MC">
<p>Jag gillar att köra min Yamaha mt07</p>
</div>
<br>
<div class="leftmargin">
    <p>Uppväxt i Lidköping.</p>
</div>