<div class="row2">
    <span class="col1">
        <menu class="socials">
            <a href="https://www.instagram.com/axeltigerberg/">
                <ion-icon name="logo-instagram"></ion-icon>
            </a> <br>
            <a href="https://www.instagram.com/axeltigerberg/">
                <ion-icon name="logo-instagram"></ion-icon>
            </a> <br>
            <a href="https://www.instagram.com/axeltigerberg/">
                <ion-icon name="logo-instagram"></ion-icon>
            </a> <br>
            <a href="https://www.instagram.com/axeltigerberg/">
                <ion-icon name="logo-instagram"></ion-icon>
            </a> <br>
            <a href="https://www.instagram.com/axeltigerberg/">
                <ion-icon name="logo-instagram"></ion-icon>
            </a> <br>
            <a href="https://www.instagram.com/axeltigerberg/">
                <ion-icon name="logo-instagram"></ion-icon>
            </a> <br>
        </menu>
        <input type="image" src="/images/Jag.jpg" alt="bild på mig" width="250" height="250" id="minbild">


    </span>

    <span class="col2">
        <p id="infotext">
            Hej det är jag som är axel!
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis euismod neque,
            at efficitur ante. Vivamus augue odio, ultricies quis ex vitae, posuere sodales lacus.
            Fusce pellentesque luctus sapien non pellentesque. Curabitur quam nulla, aliquam ut
            dignissim vel, viverra at nulla. Integer nec dictum augue. Donec blandit eu ante id
            fermentum. Etiam ornare eu risus eu condimentum. Ut fermentum aliquam nibh eget gravida.
            Praesent eu eros at dolor eleifend consectetur vel nec arcu. Suspendisse ut tortor eros.
            Sed id sagittis ante.

            Nulla magna elit, viverra in justo eget, consectetur pellentesque elit. Nulla ac libero a erat
            tempus vestibulum. Etiam fermentum in nunc et vehicula. Duis in libero hendrerit, semper enim ac,
            molestie mauris. Vestibulum gravida, neque eget aliquet sollicitudin, purus est iaculis erat,
            id bibendum massa felis in sapien. Integer in turpis eget massa mollis laoreet non sed risus.
            Proin tristique nisi a leo iaculis, a ornare metus rutrum. Aenean eu ex odio.

            Vivamus laoreet leo nec euismod pellentesque. Aliquam id tincidunt est.
            Mauris bibendum eros nec metus mollis, id tincidunt mauris ornare.
            Vestibulum sed odio vitae tortor placerat hendrerit. Praesent aliquet magna id mauris efficitur,
            in pretium dolor sodales. Suspendisse sollicitudin id nisl vitae dictum.
            Aliquam luctus ac erat ut volutpat. Mauris id purus tellus. Fusce urna risus,
            faucibus sit amet pellentesque et, dictum eu turpis. Fusce urna tortor, maximus a metus sed,
            vestibulum pulvinar lacus. Cras sodales hendrerit ligula, sed eleifend lectus ultrices at.
        </p>

    </span>

    <span class="col3">
        <header class="titel2">Senaste Gästboksinläggen</header>

{{#if hasDatabaseError}}
<p>Gästbok hittades ej</p>

{{else }}

{{#each resultKommentar}}
<ul>
    <tag class="kommentarenhetstartsida">
        <p class="GästbokNamn2">{{namn}}:</p>
        <p class="GästbokKommentar">{{kommentar}}</p>
    </tag>
</ul>

{{/each}}
{{/if}}
    <form id="submitStartsida" method="POST" action="/start">
        <label for="Namn">Namn:</label><br>
        <input type="text" id="Namnstart" name="Namnstart"><br>
        <label for="Kommentarstart">Kommentar:</label><br>
        <tag id="kommentarform"><textarea rows="5" cols="35" name="Kommentarstart" id="Kommentarstart"></textarea></tag>
        <input type="submit" value="Publicera">
        </form>

    </span>




</div>




<body>
</body>


</html>